.hg/
env
/
notebooks/.ipynb_checkpoints/1_Python_For_Data_Analysis-checkpoint.ipynb
notebooks/.ipynb_checkpoints/2_pandas_Explore_Clean-checkpoint.ipynb
notebooks/.ipynb_checkpoints/3_Reading_Writing-checkpoint.ipynb
notebooks/.ipynb_checkpoints/4_Data_Wrangling-checkpoint.ipynb
notebooks/.ipynb_checkpoints/Diamond Exploratory Analysis and Visualizations-checkpoint.ipynb
notebooks/.ipynb_checkpoints/ggplot-checkpoint.ipynb
notebooks/.ipynb_checkpoints/plotnine-checkpoint.ipynb
notebooks/.ipynb_checkpoints/1_Python_For_Data_Analysis-checkpoint.ipynb
notebooks/.ipynb_checkpoints/2_pandas_Explore_Clean-checkpoint.ipynb
notebooks/.ipynb_checkpoints/3_Reading_Writing-checkpoint.ipynb
notebooks/.ipynb_checkpoints/4_Data_Wrangling-checkpoint.ipynb
notebooks/.ipynb_checkpoints/Diamond Exploratory Analysis and Visualizations-checkpoint.ipynb
notebooks/.ipynb_checkpoints/ggplot-checkpoint.ipynb
notebooks/.ipynb_checkpoints/plotnine-checkpoint.ipynb
notebooks/.ipynb_checkpoints/Statistics 1-checkpoint.ipynb
notebooks/.ipynb_checkpoints/Statistics 10-checkpoint.ipynb
notebooks/.ipynb_checkpoints/Statistics 2-checkpoint.ipynb
notebooks/.ipynb_checkpoints/Statistics 3-checkpoint.ipynb
notebooks/.ipynb_checkpoints/Statistics 5-checkpoint.ipynb
notebooks/.ipynb_checkpoints/Statistics 6-checkpoint.ipynb
notebooks/.ipynb_checkpoints/Statistics 7-checkpoint.ipynb
notebooks/.ipynb_checkpoints/Statistics 8-checkpoint.ipynb
notebooks/.ipynb_checkpoints/Statistics 9-checkpoint.ipynb
